.mat-card-main{
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: visible;
}

.repertoire-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

.repertoire-item > img{
  width: 256px;
  margin-left: 50px;
}