form{
  display: flex;
  flex-direction: column;

}

mat-card{
  min-width: 25vw;
}

mat-expansion-panel-header{
  overflow: hidden;
  white-space: nowrap;
}

.seats-list{
  max-height: 25vh;
  overflow-y: scroll;
}